html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*Fuentes Poppins*/
@font-face {
    font-family: 'Poppins';
    src: url('/Fonts/Poppins-Light.ttf') format('truetype');
    font-weight: 400; /* Peso normal */
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('/Fonts/Poppins-Light.ttf') format('truetype');
    font-weight: 700; /* Peso negrita */
    font-style: normal;
}
@font-face {
    font-family: 'Poppins-regular';
    src: url('../Fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: 700; /* Peso negrita */
    font-style: normal;
}
@font-face {
    font-family: 'Figtree-LiNormal';
    src: url('../Fonts/Figtree-Light.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Figtree-BolNegritas';
    src: url('../Fonts/Figtree-Bold.ttf') format('truetype');
    font-weight: 700; /* Peso negrita */
    font-style: normal;
}
@font-face {
    font-family: 'Figtree-BolNegrExtra';
    src: url('../Fonts/Figtree-ExtraBold.ttf') format('truetype');
    font-weight: 800; /* Peso negrita */
    font-style: normal;
}




.tabla-detalle {
    margin: 0;
    padding: 0;
    border-collapse: collapse; /* Opcional: Elimina el espacio entre las celdas */
}

    .tabla-detalle td, .tabla-detalle th {
        margin: 0;
        padding: 0;
        border: none; /* Elimina los bordes si no los necesitas */
    }


/* Estilo básico para los íconos */
.icono-accion {
    color: white; /* Color inicial del ícono */
    font-size: 1.5em; /* Tamaño del ícono */
    cursor: pointer; /* Mostrar el cursor de mano */
    margin-right: 10px; /* Espacio entre íconos */
}

    /* Cambiar el color cuando se pasa el cursor sobre el ícono */
    .icono-accion:hover {
        color: #007bff; /* Color al hacer hover (azul) */
    }

.detalle-usuario-modal {
    background-color:slategrey; /* Ruta de tu imagen */ 
    background-size: cover;
    background-position: center;
    color: white; /* Color de texto */
    text-align: center;
    padding: 20px; /* Espaciado interno */
    border-radius: 10px; /* Bordes redondeados opcionales */
}

    .detalle-usuario-modal .modal-header,
    .detalle-usuario-modal .modal-footer {
        border: none; /* Quitar bordes del header y footer */
    }

    .detalle-usuario-modal .modal-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 200px; /* Altura mínima para centrar el contenido */
        padding: 20px;
    }

    /* Centrar el botón Aceptar */
    .detalle-usuario-modal .modal-footer {
        justify-content: center;
    }

    /* Opcional: Ajustar el color del botón para que combine con el diseño */
    .detalle-usuario-modal .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
    }

.titulo-detalle {
    font-family: Arial, sans-serif;
    color: whitesmoke;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.detalle-texto-inicio {
    font-family: Verdana, sans-serif;
    color: gainsboro;
    font-size: 18px;
    text-align: initial;
}
.detalle-texto-center {
    font-family: Verdana, sans-serif;
    color: gainsboro;
    font-size: 18px;
    text-align: end;
}
.detalle-usuario img {
    border: 2px solid #ccc;
    border-radius: 8px;
}

.detalle-usuario video {
    border: 2px solid #ccc;
    border-radius: 8px;
}

.custom-modal-size .modal-dialog {
    max-width: 95%; /* Ajusta el ancho máximo del modal */
    margin: 30px auto; /* Opcional: Ajusta el margen vertical del modal */
}

.custom-modal-size .modal-content {
    /* Puedes ajustar más estilos aquí si es necesario */
}


/* General Table Styling */
table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombras suaves alrededor de la tabla */
    border-radius: 8px 8px 0px 0px; /* Bordes redondeados */
    overflow: hidden;
    border-spacing: 0; /* Eliminar el espacio entre las celdas */
}

thead {    
    background-color: #8AA2C7;
    font-weight: bold;
    height:20px;
    padding:0px 20px 0px 20px;
    gap: 20px;
}

th, td {
    font-family: Figtree-LiNormal, sans-serif;
    font-size: 12px;
    padding: 10px;
    text-align: left;
    vertical-align: middle;
    height: 60px; /* Altura fija para las filas */
    width:195.2px;
    overflow: hidden; /* Oculta el contenido que se salga de la celda */
    border: none; /* Eliminar completamente los bordes de las celdas */
}
/* Definir tamaños específicos para las columnas */
.col-nombre {
    font-family: Figtree-BolNegritas, sans-serif;
    font-size: 14px;
    width: 20%;
}

.col-sexo {
    font-family: Figtree-BolNegritas, sans-serif;
    font-size: 14px;
    width: 10%;
}

.col-fecha {
    font-family: Figtree-BolNegritas, sans-serif;
    font-size: 14px;
    width: 15%;
}

.col-datos-usuario {
    font-family: Figtree-BolNegritas, sans-serif;
    font-size: 14px;
    width: 20%;
}

.col-domicilio {
    font-family: Figtree-BolNegritas, sans-serif;
    font-size: 14px;
    width: 20%;
}

.col-codigo-postal {
    font-family: Figtree-BolNegritas, sans-serif;
    font-size: 14px;
    width: 10%;
}

.col-options {
    font-family: Figtree-BolNegritas, sans-serif;
    font-size: 14px;
    text-align:end;
    width: 5%;
}


tbody tr {
    background-color: #fff;
}

    tbody tr:hover {
        background-color: #f1f5f8;
    }

/* Estilo para truncar texto largo */
.descripcion {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Limita el número de líneas a 2 */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    word-break: break-word;
    max-width: 200px;
    height: 3.5em;
}

.col-options-ico {
    text-align: right; 
}
/* Estilo para íconos */
.icono-accion {
    color: black;
    font-size: 1.5em;    
    cursor: pointer;
    margin-right: 10px;
}

    .icono-accion:hover {
        color: cadetblue;
    }

/* Estatus */
.status.text-success {
    font-family: Figtree-BolNegritas,sans-serif;
    font-size: 12px;
    color: green;
}

.status.text-danger {
    font-family: Figtree-BolNegritas,sans-serif;
    font-size: 12px;
    color: red;
}

/* Paginación */
/* Estilo de la paginación */
.pagination {
    display: inline-flex;
    list-style: none;
    padding-left: 0;
}

/* Estilo de los elementos de la paginación */
.page-item {
    margin: 0 5px;
}

/* Estilo de los enlaces de cada página */
.page-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px; /* Ajustar el tamaño a 25px */
    height: 25px; /* Ajustar el tamaño a 25px */
    border: 1px solid black;
    border-radius: 50%;
    color: black;
    background-color: white;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    font-size: 0.875rem; /* Tamaño de fuente reducido */
}

    /* Hover para los enlaces de paginación */
    .page-link:hover {
        background-color: black;
        color: white;
    }

/* Página activa */
.page-item.active .page-link {
    background-color: black;
    color: white;
    border-color: black;
}

/* Estilo de los botones de navegación (< y >) */
.page-link[aria-label="Anterior"],
.page-link[aria-label="Siguiente"] {
    border: none;
    background-color: transparent;
    color: black;
    font-size: 1.2rem; /* Tamaño moderado para los símbolos */
    font-weight: bold; /* Negrita para los símbolos */
}

    /* Quitar el contorno al hover de < y > */
    .page-link[aria-label="Anterior"]:hover,
    .page-link[aria-label="Siguiente"]:hover {
        background-color: transparent;
        color: black;
    }

/* Para hacer la paginación más pequeña */
.pagination .page-link {
    width: 25px; /* Tamaño reducido a 25px */
    height: 25px; /* Tamaño reducido a 25px */
    line-height: 25px; /* Centrar el texto verticalmente */
    font-size: 0.875rem; /* Tamaño de fuente ajustado */
}




/* Contenedor de los controles de paginación */
.pagination-controls {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 20px;
}

/* Contador de registros */
#record-count {
    margin-left: 10px;
    font-size: 0.875rem;
    color: #666;
}

/* Selector redondeado con borde */
.records-dropdown {
    width: 150px; /* Ajusta el tamaño según sea necesario */
    padding: 5px 15px;
    border: 2px solid #ccc;
    border-radius: 50px; /* Bordes redondeados */
    font-size: 14px;
    background-color: black;
    color: #333;
    cursor: pointer;
    appearance: none; /* Elimina el estilo por defecto */
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    font-family:Figtree-LiNormal;
    text-align: center; /* Centrar el texto */
}

    /* Cambios en el borde cuando el usuario pasa el cursor */
    .records-dropdown:hover {
        border-color: #007bff;
    }

    /* Cuando el selector está enfocado */
    .records-dropdown:focus {
        border-color: #007bff;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Añadir un pequeño resplandor */
    }

    /* Flecha del selector */
    .records-dropdown::after {
        content: '\25BC'; /* Flecha hacia abajo */
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        pointer-events: none;
        color: #333;
    }

/* Contenedor principal para la paginación y el selector */
.pagination-wrapper {
    display: flex;
    justify-content: space-between; /* Separar los elementos horizontalmente */
    align-items: center; /* Alinear verticalmente al centro */
    padding: 10px 0;
}

/* Estilo de los controles de registros por página (ahora alineado a la izquierda) */
.pagination-controls {
    display: flex;
    align-items: center;
}

/* Estilo del selector de registros */
.records-dropdown {
    font-family: Figtree-BolNegritas,sans-serif;
    font-weight: bold; /* Texto en negrita */
    border: 2px solid #000; /* Contorno negro */
    padding: 5px 15px;
    border-radius: 50px; /* Bordes redondeados, opcional */
    background-color: white; /* Fondo blanco */
    color: #333; /* Color del texto dentro del selector */
    font-size: 14px;
    appearance: none; /* Elimina el estilo predeterminado del navegador */
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer; /* Cambia el cursor a pointer para indicar que es interactivo */
}

    /* Cambios en el borde cuando el selector está en hover o enfoque */
    .records-dropdown:hover,
    .records-dropdown:focus {
        border-color: grey; /* Color azul cuando el mouse está sobre el selector o tiene foco */
        /*box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);*/ /* Resplandor azul cuando se enfoca */
    }

#record-count {
    font-family: Figtree-LiNormal,sans-serif;
    font-size: 12px;
    color: black;
}

/* Estilo de la paginación */
.pagination-container {
    flex: 1; /* Permite que la paginación ocupe todo el espacio disponible */
    display: flex;
    justify-content: flex-end; /* Alineado a la derecha */
}

.pagination {
    margin: 0;
    padding: 0;
    list-style: none;
}


/* Contenedor principal que coloca los elementos en línea */
.header-container {
    margin-bottom: 20px;
}

/* Estilo del breadcrumb */
.breadcrumb {
    background-color: transparent; /* Eliminar fondo predeterminado */
    font-size: 0.875rem; /* Tamaño pequeño del breadcrumb */
    margin-bottom: 10px; /* Espacio entre el breadcrumb y el título */
}

.breadcrumb-item a {
    font-family: Figtree-LiNormal,sans-serif;
    font-size: 16px;
    color: #6c757d; /* Color gris para los enlaces del breadcrumb */
    text-decoration: none;
}

.breadcrumb-item.active {
    font-family: Figtree-BolNegritas,sans-serif;
    font-size: 16px;
    color: #000; /* Color negro para el elemento activo */
   /* font-weight: bold;*/ /* Negrita para el elemento actual */
}

/* Alinear el título y el botón en la misma fila */
.title-and-button {
    
    display: flex;
    justify-content: space-between; /* Asegurar que el botón esté a la derecha */
    align-items: center; /* Alinear verticalmente el título y el botón */
}

/* Estilo del título de la página */
.page-title {
    font-family: Figtree-BolNegrExtra, sans-serif;
    font-size: 1.5rem; /* Tamaño del título */
    font-weight: bold; /* Texto en negrita */
    color: black; /* Color gris oscuro */
    margin-right: 24px; /* Espacio entre el título y el botón */
}

/* Estilo del botón de crear notificación verde */
.create-notification-btn {
    background-color: black; /* Color verde */
    color: white;
    padding: 16px 32px 16px 32px;
    width: 225px;
    height: 54px;
    border-radius: 100px; /* Bordes redondeados */
    font-family:Figtree-BolNegritas,sans-serif;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    text-decoration: none;
    border: none; /* Sin contorno */
}

    .create-notification-btn .plus-icon {
        font-size: 16px;
        width:20px;
        height:20px;
        margin-left: 8px;
        align-items:center;
    }

    .create-notification-btn:hover {
        background-color: #218838; /* Color verde más oscuro en hover */
        text-decoration: none;
    }
