html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


/*Fuentes Poppins*/
@font-face {
    font-family: 'Poppins';
    src: url('/Fonts/Poppins-Light.ttf') format('truetype');
    font-weight: 400; /* Peso normal */
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('/Fonts/Poppins-Light.ttf') format('truetype');
    font-weight: 700; /* Peso negrita */
    font-style: normal;
}
@font-face {
    font-family: 'Poppins-regular';
    src: url('../Fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: 700; /* Peso negrita */
    font-style: normal;
}
@font-face {
    font-family: 'Figtree-LiNormal';
    src: url('../Fonts/Figtree-Light.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Figtree-BolNegritas';
    src: url('../Fonts/Figtree-Bold.ttf') format('truetype');
    font-weight: 700; /* Peso negrita */
    font-style: normal;
}
@font-face {
    font-family: 'Figtree-BolNegrExtra';
    src: url('../Fonts/Figtree-ExtraBold.ttf') format('truetype');
    font-weight: 800; /* Peso negrita */
    font-style: normal;
}

/* Estilo básico para los íconos */
.icono-accion {
    color: white; /* Color inicial del ícono */
    font-size: 1.5em; /* Tamaño del ícono */
    cursor: pointer; /* Mostrar el cursor de mano */
    margin-right: 10px; /* Espacio entre íconos */
}

    /* Cambiar el color cuando se pasa el cursor sobre el ícono */
    .icono-accion:hover {
        color: #007bff; /* Color al hacer hover (azul) */
    }

/* General Table Styling */
table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombras suaves alrededor de la tabla */
    border-radius: 8px 8px 0px 0px; /* Bordes redondeados */
    overflow: hidden;
    border-spacing: 0; /* Eliminar el espacio entre las celdas */
}

thead {    
    background-color: #8AA2C7;
    font-weight: bold;
    height:20px;
    padding:0px 20px 0px 20px;
    gap: 20px;
}

th, td {
    font-family: Figtree-LiNormal, sans-serif;
    font-size: 12px;
    padding: 10px;
    text-align: left;
    vertical-align: middle;
    height: 60px; /* Altura fija para las filas */
    width:195.2px;
    overflow: hidden; /* Oculta el contenido que se salga de la celda */
    border: none; /* Eliminar completamente los bordes de las celdas */
}
/* Definir tamaños específicos para las columnas */
.col-nombre {
    font-family: Figtree-BolNegritas, sans-serif;
    font-size: 14px;
    width: 20%;
}

.col-sexo {
    font-family: Figtree-BolNegritas, sans-serif;
    font-size: 14px;
    width: 10%;
}

.col-fecha {
    font-family: Figtree-BolNegritas, sans-serif;
    font-size: 14px;
    width: 15%;
}

.col-datos-usuario {
    font-family: Figtree-BolNegritas, sans-serif;
    font-size: 14px;
    width: 20%;
}

.col-domicilio {
    font-family: Figtree-BolNegritas, sans-serif;
    font-size: 14px;
    width: 20%;
}

.col-codigo-postal {
    font-family: Figtree-BolNegritas, sans-serif;
    font-size: 14px;
    width: 10%;
}

.col-options {
    font-family: Figtree-BolNegritas, sans-serif;
    font-size: 14px;
    text-align:end;
    width: 5%;
}


tbody tr {
    background-color: #fff;
}

    tbody tr:hover {
        background-color: #f1f5f8;
    }

/* Estilo para truncar texto largo */
.descripcion {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Limita el número de líneas a 2 */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    word-break: break-word;
    max-width: 200px;
    height: 3.5em;
}

.col-options-ico {
    text-align: right; 
}
/* Estilo para íconos */
.icono-accion {
    color: black;
    font-size: 1.5em;    
    cursor: pointer;
    margin-right: 10px;
}

    .icono-accion:hover {
        color: cadetblue;
    }

/* Estatus */
.status.text-success {
    font-family: Figtree-BolNegritas,sans-serif;
    font-size: 12px;
    color: green;
}

.status.text-danger {
    font-family: Figtree-BolNegritas,sans-serif;
    font-size: 12px;
    color: red;
}

/* Paginación */
/* Estilo de la paginación */
.pagination {
    display: inline-flex;
    list-style: none;
    padding-left: 0;
}

/* Estilo de los elementos de la paginación */
.page-item {
    margin: 0 5px;
}

/* Estilo de los enlaces de cada página */
.page-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px; /* Ajustar el tamaño a 25px */
    height: 25px; /* Ajustar el tamaño a 25px */
    border: 1px solid black;
    border-radius: 50%;
    color: black;
    background-color: white;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    font-size: 0.875rem; /* Tamaño de fuente reducido */
}

    /* Hover para los enlaces de paginación */
    .page-link:hover {
        background-color: black;
        color: white;
    }

/* Página activa */
.page-item.active .page-link {
    background-color: black;
    color: white;
    border-color: black;
}

/* Estilo de los botones de navegación (< y >) */
.page-link[aria-label="Anterior"],
.page-link[aria-label="Siguiente"] {
    border: none;
    background-color: transparent;
    color: black;
    font-size: 1.2rem; /* Tamaño moderado para los símbolos */
    font-weight: bold; /* Negrita para los símbolos */
}

    /* Quitar el contorno al hover de < y > */
    .page-link[aria-label="Anterior"]:hover,
    .page-link[aria-label="Siguiente"]:hover {
        background-color: transparent;
        color: black;
    }

/* Para hacer la paginación más pequeña */
.pagination .page-link {
    width: 25px; /* Tamaño reducido a 25px */
    height: 25px; /* Tamaño reducido a 25px */
    line-height: 25px; /* Centrar el texto verticalmente */
    font-size: 0.875rem; /* Tamaño de fuente ajustado */
}




/* Contenedor de los controles de paginación */
.pagination-controls {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 20px;
}

/* Contador de registros */
#record-count {
    margin-left: 10px;
    font-size: 0.875rem;
    color: #666;
}

/* Selector redondeado con borde */
.records-dropdown {
    width: 150px; /* Ajusta el tamaño según sea necesario */
    padding: 5px 15px;
    border: 2px solid #ccc;
    border-radius: 50px; /* Bordes redondeados */
    font-size: 14px;
    background-color: black;
    color: #333;
    cursor: pointer;
    appearance: none; /* Elimina el estilo por defecto */
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    font-family:Figtree-LiNormal;
    text-align: center; /* Centrar el texto */
}

    /* Cambios en el borde cuando el usuario pasa el cursor */
    .records-dropdown:hover {
        border-color: #007bff;
    }

    /* Cuando el selector está enfocado */
    .records-dropdown:focus {
        border-color: #007bff;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Añadir un pequeño resplandor */
    }

    /* Flecha del selector */
    .records-dropdown::after {
        content: '\25BC'; /* Flecha hacia abajo */
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        pointer-events: none;
        color: #333;
    }

/* Contenedor principal para la paginación y el selector */
.pagination-wrapper {
    display: flex;
    justify-content: space-between; /* Separar los elementos horizontalmente */
    align-items: center; /* Alinear verticalmente al centro */
    padding: 10px 0;
}

/* Estilo de los controles de registros por página (ahora alineado a la izquierda) */
.pagination-controls {
    display: flex;
    align-items: center;
}



#record-count {
    font-family: Figtree-LiNormal,sans-serif;
    font-size: 12px;
    color: black;
}

/* Estilo de la paginación */
.pagination-container {
    flex: 1; /* Permite que la paginación ocupe todo el espacio disponible */
    display: flex;
    justify-content: flex-end; /* Alineado a la derecha */
}

.pagination {
    margin: 0;
    padding: 0;
    list-style: none;
}


/* Contenedor principal que coloca los elementos en línea */
.header-container {
    margin-bottom: 20px;
}

/* Estilo del breadcrumb */
.breadcrumb {
    background-color: transparent; /* Eliminar fondo predeterminado */
    font-size: 0.875rem; /* Tamaño pequeño del breadcrumb */
    margin-bottom: 10px; /* Espacio entre el breadcrumb y el título */
}

.breadcrumb-item a {
    font-family: Figtree-LiNormal,sans-serif;
    font-size: 16px;
    color: #6c757d; /* Color gris para los enlaces del breadcrumb */
    text-decoration: none;
}

.breadcrumb-item.active {
    font-family: Figtree-BolNegritas,sans-serif;
    font-size: 16px;
    color: #000; /* Color negro para el elemento activo */
   /* font-weight: bold;*/ /* Negrita para el elemento actual */
}

/* Alinear el título y el botón en la misma fila */
.title-and-button {
    
    display: flex;
    justify-content: space-between; /* Asegurar que el botón esté a la derecha */
    align-items: center; /* Alinear verticalmente el título y el botón */
}

/* Estilo del título de la página */
.page-title {
    font-family: Figtree-BolNegrExtra, sans-serif;
    font-size: 1.5rem; /* Tamaño del título */
    font-weight: bold; /* Texto en negrita */
    color: black; /* Color gris oscuro */
    margin-right: 24px; /* Espacio entre el título y el botón */
}

/* Estilo del botón de crear notificación verde */
.create-notification-btn {
    background-color: black; /* Color verde */
    color: white;
    padding: 16px 32px 16px 32px;
    width: 225px;
    height: 54px;
    border-radius: 100px; /* Bordes redondeados */
    font-family:Figtree-BolNegritas,sans-serif;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    text-decoration: none;
    border: none; /* Sin contorno */
}

    .create-notification-btn .plus-icon {
        font-size: 16px;
        width:20px;
        height:20px;
        margin-left: 8px;
        align-items:center;
    }

    .create-notification-btn:hover {
        background-color: #218838; /* Color verde más oscuro en hover */
        text-decoration: none;
    }

    /*MODAL CREATE*/
/* Área de carga de archivos */
/*.upload-area {
    border: 2px dashed #ccc;*/ /* Borde gris por defecto */
    /*padding: 20px;
    text-align: center;
    position: relative;
    background-color: #f9f9f9;
    border-radius: 10px;
    cursor: pointer;
    transition: border-color 0.3s ease;*/ /* Transición suave en el cambio de color */
/*}*/
/* Área de carga de archivos */
.upload-area {
    border: 2px dashed #ccc; /* Borde gris por defecto */
    padding: 20px;
    text-align: left; /* Alineación izquierda */
    position: relative;
    background-color: #f9f9f9;
    border-radius: 10px;
    cursor: pointer;
    transition: border-color 0.3s ease; /* Transición suave en el cambio de color */
}

    .upload-area.loading {
        border-color: #007bff; /* Cambiar borde a azul durante la carga */
    }

    .upload-area.success {
        border-color: #28a745; /* Borde verde al tener éxito */
    }

    .upload-area.error {
        border-color: #dc3545; /* Borde rojo si hay error */
    }

.upload-text {
    font-size: 14px;
    color: #007bff;
    display: flex;
    justify-content: flex-start; /* Alineación hacia la izquierda */
    align-items: center;
}

.upload-area img {
    width: 30px;
    margin-right: 10px;
}

.file-info {
    margin-top: 10px;
    text-align: left;
    color: #007bff;
}

.reemplazar-archivo {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

    .reemplazar-archivo:hover {
        text-decoration: underline;
    }

.loading-content {
    display: flex;
    align-items: center;
}

.icono-cargando {
    width: 20px; /* Ajusta el tamaño del ícono según sea necesario */
    margin-right: 10px;
}

.progress-bar {
    width: 100%;
    height: 4px;
    background-color: #e0e0e0;
    border-radius: 2px;
    overflow: hidden;
    margin-top: 5px;
}

.progress {
    height: 100%;
    background-color: #007bff; /* Color azul de la barra de progreso */
    width: 0%;
    transition: width 0.2s ease;
}

/* Texto para las instrucciones de archivos (como "JPG, PNG no mayor a 1MB") */
.gray-text {
    color: #6c757d;
    margin-bottom: 5px;
}

/* Texto del enlace */
.blue-text {
    color: #007bff;
    text-decoration: none;
}

    .blue-text:hover {
        text-decoration: underline;
    }

.dragging {
    border-color: #007bff;
    background-color: #e9f7ff;
}

.section-divider {
    flex-grow: 1;
    height: 1px;
    background-color: #ccc;
    margin-left: 10px;
}

/* Vista de previsualización de notificación */
.notification-preview {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    background-color: #fff;
    display: flex;
    align-items: center;
}

.notification-icon img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
}

.notification-content {
    max-width: 200px;
    overflow: hidden;
    border: none; /* Asegúrate de que no haya borde en el contenedor principal */
    box-shadow: none; /* Elimina cualquier sombra que pueda estar causando la línea */
}

.notification-title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 0; /* Cambia margin-top por padding si es necesario */
    padding-bottom: 10px; /* Añade padding si es necesario */
}

.notification-description {
    margin-top: 5px;
    color: #6c757d;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Errores de validación */
.text-end small.error {
    color: red;
}

/* Indicador circular verde */
.green-circle {
    height: 10px;
    width: 10px;
    background-color: #28a745;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}

/* Estilos para inputs y textareas con borde inferior */
.form-control {
    border: none;
    border-bottom: 2px solid #ccc;
    border-radius: 0;
    outline: none;
    box-shadow: none;
}

    .form-control:focus {
        border-bottom-color: #007bff; /* Cambiar color del borde inferior al hacer foco */
        outline: none;
        box-shadow: none;
    }

/* Ajuste para que los textboxes sean responsivos */
.input-size {
    width: 100%; /* Asegura que los inputs tomen el 100% del ancho disponible */
    max-width: 100%; /* Previene que excedan el contenedor */
    height: 50px; /* Ajusta la altura según tus preferencias */
    box-sizing: border-box; /* Asegura que el padding no incremente el tamaño total */
}

.form-label {
    font-weight: bold;
    margin-bottom: 5px;
}
.counter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .counter-container small {
        font-size: 12px; /* Ajusta el tamaño del texto según tu preferencia */
    }

.text-start {
    text-align: left;
}

.text-end small {
    font-size: 12px;
    color: #6c757d;
    text-align: right;
}

.form-control::placeholder {
    color: #ccc;
}

textarea.form-control {
    resize: none; /* Para evitar que el textarea se pueda redimensionar */
}

/* Estructura de la barra de selección de pestañas */
.notification-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alineación a la izquierda */
    padding-bottom: 10px;
}

.notification-steps {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.step {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alineación de los pasos a la izquierda */
    cursor: pointer; /* El cursor de puntero para indicar clic */
}

.step-label {
    font-size: 12px;
    color: black; /* Color del paso activo */
    margin-bottom: 5px; /* Añadir espacio entre el "Paso" y el título */
}

    .step-label.disabled {
        color: #999; /* Color gris para el paso deshabilitado */
    }

.tab {
    font-size: 16px;
    font-weight: bold;
    color: black; /* Color del tab activo */
    text-decoration: none;
    text-align: left;
    cursor: pointer; /* Cursor de puntero */
}

    .tab.disabled {
        color: #999; /* Color gris para el tab deshabilitado */
    }

.line {
    height: 2px;
    width: 466px; /* Ancho de la línea ajustado a la mitad del header */
    margin-bottom: 10px; /* Espacio entre la línea y el "Paso" */
}

.active-line {
    background-color: black;
}

.inactive-line {
    background-color: #ccc;
}


    .notification-header h5 {
        font-size: 24px;
        font-weight: bold;
        margin: 0;
    }

/* Barra de pestañas de Notificación push y Notificación en listado */
.notification-tabs {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-top: 10px;
}

    .notification-tabs .tab {
        flex: 1;
        text-align: center;
        padding-bottom: 10px;
        font-size: 16px;
        color: #999; /* Color gris para el tab inactivo */
        text-decoration: none;
        position: relative;
    }

        .notification-tabs .tab.active {
            font-weight: bold;
            color: #000; /* Color negro para el tab activo */
        }

        .notification-tabs .tab::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: transparent; /* Fondo transparente por defecto */
            transition: background-color 0.3s ease;
        }

        .notification-tabs .tab.active::after {
            background-color: #000; /* Línea negra para el tab activo */
        }

        .notification-tabs .tab:hover {
            color: #000; /* Cambia el color a negro al pasar el ratón */
        }

/* Contenedor principal y ajustable */
.notification-container {
    max-width: 961px; /* Máximo ancho del contenedor */
    margin: 0 auto; /* Centra el contenedor */
    padding: 0 15px; /* Espaciado interno */
    border-radius: 15px; /* Añade bordes redondeados */
    background-color: #fff; /* Asegúrate de tener un fondo blanco para que se vea bien */
    border: 1px solid #ddd; /* Añade un borde para que se destaque */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Añade sombra si lo deseas */
}

@media (max-width: 1024px) {
    .notification-container {
        padding: 0 10px; /* Ajuste de padding para pantallas más pequeñas */
    }

    .input-size {
        height: auto; /* Altura automática para pantallas pequeñas */
    }
}

/*Estilos botones crear notificacion*/
.button-rounded {
    background-color: white; /* Color de fondo */
    border: 2px solid black; /* Borde negro de 2px */
    border-radius: 50px; /* Bordes redondeados */
    padding: 10px 30px; /* Espaciado interno para hacerlo más grande */
    font-size: 16px; /* Tamaño de texto */
    font-weight: bold; /* Texto en negritas */
    color: black; /* Color del texto */
    cursor: pointer; /* Cambia el cursor a pointer */
    transition: background-color 0.3s ease; /* Transición suave para cambios */
}

    .button-rounded:hover {
        background-color: #f0f0f0; /* Color de fondo al pasar el cursor */
    }

    .button-rounded:active {
        background-color: #e0e0e0; /* Color de fondo al hacer clic */
        border-color: #333; /* Cambiar color de borde al hacer clic */
    }

    /* Botón deshabilitado */
    .button-rounded:disabled {
        background-color: #d3d3d3; /* Color gris cuando está deshabilitado */
        border-color: #a9a9a9; /* Borde gris más oscuro */
        color: #808080; /* Color del texto gris */
        cursor: not-allowed; /* Cambia el cursor a "no permitido" */
    }

/* Línea divisora negra inferior */
.line-above-buttons {
    border-top: 2px solid black; /* Línea negra de 2px */
    margin: 20px 0; /* Espaciado superior e inferior */
    width: 100%; /* Asegura que ocupe el ancho del contenedor */
}

/* Notificación en listado */
.tab.disabled {
    pointer-events: none; /* Deshabilita la interacción con el enlace */
    color: #ccc; /* Cambia el color a gris para que parezca deshabilitado */
    cursor: not-allowed; /* Cambia el cursor a una señal de "no permitido" */
}

.tab {
    color: #999; /* Color predeterminado de los tabs */
    text-decoration: none;
}

    .tab:hover {
        color: #000; /* Color al pasar el ratón sobre tabs activos */
    }


